<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>RemindMe</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" media="screen" />
<link rel="icon" type="image/png" href="/images/icon.png" />
<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="js/ajax.js"></script>
<script type="text/javascript" src="js/lang.js"></script>

</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-sm-10">
				<h1 align="center" th:text="#{mes.title}"></h1>
			</div>
			<div class="col-sm-2">
				<span th:text="#{lang.change}"></span>: <select class="form-control"
					id="locales">
					<option value=""></option>
					<option value="en" th:text="#{lang.eng}"></option>
					<option value="ua" th:text="#{lang.ua}"></option>
				</select>
			</div>
		</div>

		<div id="info">
			<div th:text="#{mes.info0}"></div>
			<div th:text="#{mes.info1}"></div>
			<div th:text="#{mes.info2}"></div>
			<div th:text="#{mes.info3}"></div>
			<div th:text="#{mes.info4}"></div>
			<div th:text="#{mes.info5}"></div>
		</div>

		<br />

		<div align="center">
			<a class="btn btn-primary btn-lg" href="#form-part"
				th:text="#{mes.btn-go}"></a>
		</div>

		<div id="form-part" class="starter-template">
			<h2 th:text="#{mes.form}"></h2>

			<div id="info-input"></div>

			<form class="form-horizontal" id="form">

				<input type="hidden" id="id" />

				<div class="form-group form-group-lg">
					<label class="col-sm-2 control-label" th:text="#{mes.description}"></label>
					<div class="col-sm-6">
						<textarea rows="10" cols="50" class="form-control"
							id="description"></textarea>
					</div>
				</div>

				<div class="form-group form-group-lg">
					<label class="col-sm-2 control-label" th:text="#{mes.date}"></label>
					<div class="col-sm-6">
						<input type="date" class="form-control" id="date" />
					</div>
				</div>

				<div class="form-group form-group-lg">
					<label class="col-sm-2 control-label" th:text="#{mes.email}"></label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="email" maxlength="100" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-6">
						<button type="submit" id="bth-save" class="btn btn-success btn-lg"
							th:text="#{mes.btn-save}"></button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<footer>
		<p>
			<span th:text="#{mes.contact}"></span> <a
				href="mailto:mishastrilets@gmail.com">mishastrilets@gmail.com</a><br />2018
		</p>
	</footer>

</body>
</html>